<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Simple guess the number game">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#FF6600">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="asset/css/style.css">
    <title>Celyes</title>
</head>
<body>
    <div id="app">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f70;">
                <div class="container">
                        <a class="navbar-brand" href="#">{{title}}</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://fb.com/groups/CircaleWebTeam/">
                                        <small>Facebook Group
                                            <span class="fa fa-life-saver"></span>
                                        </small>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://fb.com/celyes01">
                                        <small>
                                            Ilyes
                                            <span class="fa fa-facebook-square"></span>
                                        </small>    
                                    </a>
                                </li>
                            </div>
                        </div>
                </div>
            </nav>
            <div class="container text-right">
                <div class="row pr-1">
                    <div class="col-sm-12 pr-5">
                        <br>
                        <br>
                        <div v-if="name" class="alert alert-primary" role="alert">
                            <span class="fa fa-info-circle"></span>
                            مرحبا بك يا {{name}} 
                        </div>
                        <div v-else class="alert alert-danger">
                            <span class="fa fa-warning"></span>
                            يجب عليك إدخال إسمك
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <input v-model="name" type="text" class="form-control" placeholder="الإسم">
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="mr-5">
                            <span class="fa fa-info-circle"></span>
                            <b>المطلوب: </b>إختر إثنين من بين التطبيقات الآتية و قم بإنشاء مثيل له بأسلوبك 
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/galaxy">صفحة بسيطة لوكالة إنشاء مواقع على الانترنت</a></li>
                            <li class="list-group-item"><a href="/login">نموذج تسجيل دخول</a></li>
                            <li class="list-group-item"><a href="/persona">قالب بسيط لموقع خاص بتطبيق موبايل</a></li>
                            <li class="list-group-item"><a href="/simple-store">موقع لشركة بيع لوازم الأطفال</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="asset/js/main.js"></script>
</body>
</html>
