body{
    direction: rtl;
}
.navbar-dark {
    .navbar-nav {
        .nav-link{
            color: rgba(255,255,255,1);
        }
    }
}
ul{
    li{
        display: inline-block;
        a{
            padding: 5px 15px;
            color: #000;
            font: {
                weight: 400
            }
        }
        &:hover{
            a{      
                color:#2196F6;
            }
        }
    }
}